[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"

[packages]
beautifulsoup4 = ">=4.8.0"
mistune = ">=0.8.0"
pipenv-setup = "*"

[requires]
python_version = "3.8"
